
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}

#danmubox{
	position: absolute;
	width: 60%;
	height: 60%;
	left: 15%;
}

.bg{
	position: absolute;
	width: 60%;
	height: 60%;
	left: 15%;
}
#text{
	position: absolute;
	width: 40%;
	left: 15%;
	top: 63%;
}
#btn{
	position: absolute;
	left: 55%;
	top: 63%;
	
}
#pbbtn{
	position: absolute;
	left: 58%;
	top: 63%;
}
#pp{
	position: absolute;
	left: 61%;
	top: 63%;
}
#duoxuan1{
	position: absolute;
	left: 69%;
	top: 63%;
}
#duoxuan1{
	position: absolute;
	left: 69%;
	top: 63%;
}
#duoxuan2{
	position: absolute;
	left: 73%;
	top: 63%;
}
#textCSS{
	font-size: 50px;
	color: white;
	font-size:50px;
	font-weight: bolder;
	position: absolute;
	left: 0px;
	top: 0px;
}

