@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
#gamebox{
	height: 100%;
	width: 50%;
	left: 25%;
	position: absolute;
	background: gray;
	border-right: solid black 3px;
	border-left:  solid black 3px;
	overflow: hidden;
	
}
.track{
	/*去掉列表的前面的点*/
	list-style: none;
	/*接着让里面的li平均分配大小*/
	
	/*弹性盒子*/
	display: -webkit-box;
	width: 100%;
	height: 200%;/*让马路跑起来*/
	position: absolute;
}
.track li{
	/*先设置父标签为弹性盒子，然后子标签设置-webkit-box-flex 每一个li平均分配空间*/
	-webkit-box-flex: 1;
	border-right: dashed 4px white;
}

/*选中 li的第几个*/
.track li:nth-child(5){
	/*把大家的份数加起来 按比例分配*/
	/*-webkit-box-flex: 3;*/
	border-right: none;
}

#car{
	width: 19%;
	height: 35%;

	position: absolute;
	left: 40.5%;
	bottom: 2%;

	background: url(../img/bsj.png);
	background-size: 100% 100%;


	/* background: red; */

	/* border: silver 3px solid; */
	/* border-radius: 10px; */
	/* box-sizing: border-box; */
	/* box-shadow: black 3px 10px 5px; */
}

.otherCar{
	width: 19%;
	height: 20%;
	background: yellow;
	position: absolute;
	border: blue solid 3px;
	box-sizing: border-box;/*???*/
	border-radius: 10px;
	/*阴影*/
	box-shadow: black 3px 10px 5px;

	border: 1px solid red;
}

#restart{
	width: 10%;
	height: 10%;
	background: red;
	position: absolute;
	left: 45%;
	top: 45%;
	display: none;
}
#pp{
	margin: 18px;
}

